<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">In my portfolio you will discover that my world is both right brain and left brain challenged. A double major in Animation & Computer Science have allowed me to tackle life with an artistic logic. <br>
  While, "Some people can read War and Peace and come away thinking it's a simple adventure story. Others can read the ingredients on a chewing gum wrapper and unlock the secrets of the universe." 
  <br>A quote by Lex Luthor</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>